# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Pytest cache
.pytest_cache/

# VSCode
.vscode/

# Local data
data/save.json

# OS files
.DS_Store
Thumbs.db
